* {
  font-family: 'Quicksand', sans-serif;
}

.slider-caption {
  font-size: 60px;
}

.meal-plan-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.meal-plan-header p {
  margin-right: 20px;
  font-size: 40px;
}

.hover-el:hover {
  color: #e57373;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.diet-carousel {
  display: flex;
}

.carousel-arrow {
  font-size: 50px;
  margin: 5%;
}

.carousel-div {
  width: 100%;
  height: 80vh;
  margin-bottom: 20px;
}

.meal-box h2 {
  font-size: 10vw;
}

.meal-day {
  display: flex;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px auto;
}

.search-form h3 {
  font-size: 18px;
}

.form-separator {
  font-size: 18px;
  margin-top: 50px;
}

.modal-div h4 {
  color: teal;
}

.modal-info {
  font-size: 20px;
  color: teal;
}

.modal-info a {
  color: #e57373;
  line-height: 2.7;
}

.modal-trigger {
  font-size: 20px;
}

@media screen and (max-width:575px) {
  .modal-div img {
    width: 80%;
  }
}