a:hover {
  font-style: italic;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px auto;
}

.search-form h3 {
  font-size: 18px;
}

.form-separator {
  font-size: 18px;
  margin-top: 50px;
}

.modal-info {
  font-size: 20px;
}

.modal-info a {
  color: palevioletred;
  line-height: 2.7;
}

.modal-trigger {
  font-size: 20px;
}

@media screen and (max-width:575px) {
  .modal-div img {
    width: 80%;
  }
}